
button
{
  width:15px;
  height: 15px;
  background-color: white;
  border:0.3px solid black;
  padding: 0;
}
#graph
{
  -moz-user-select: none;
  -webkit-user-select: none;
   -ms-user-select:none;
   user-select:none;
   -o-user-select:none;

}
div
{
}
table {
  border-collapse: collapse;
}

td {
  border: 1px solid black;
}
 td
 {
   margin:0px;
   padding:0px;
 }
