<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h3>this is side page</h3>
<button type="button" name="button" onclick='my()'>click me!!</button>
  </body>
    <script type="text/javascript">
  function sleep(milliseconds) {
    var start = new Date().getTime();
    for (var i = 0; i < 1e7; i++) {
      if ((new Date().getTime() - start) > milliseconds){
        break;
      }
    }
  }
  function my()
  {
    sleep(1000);
    alert('adsjhdbajhbda');
  }
</script>

</html>
